.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-top{
    background-color: #2A3D51;
    height: 10%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-ul {   
    list-style-type: none;
    overflow: hidden;
    color: white;    
}

.nav-ul li{
    float: left;
}

.nav-ul a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;    
}

li a:hover {
    background-color: #111;
}