@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@import 'header.css';
@import 'section.css';
@import 'footer.css';

*{
    box-sizing: border-box;
  }
  
html, body {
      margin: 0;
      padding: 0;
      font: 13px 'Varela Round';
  }

  h1,
  h2,
  h3
  {
      margin: 0;
      padding: 0;
      color: white;
  }

  a{
      margin: 0;
      padding: 0;
      color: white;
      font-size: 1rem;
  }

  h4, 
  h5{
    margin: 0;
    padding: 0;
    color: #2D3E50;
  }