.perfil, .about{
    display: flex;
    background-color: #D40A46;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    height: auto;
}

.avatar{
    width: 180px;
    height: auto;
    margin-bottom: 1.5rem;
}

.estrela{   
    display: flex;
    flex-direction: row;
}

.estrelarosa, .estrelaazul{
    width: 30px;
    margin: 10px;
}

.perfil .risco, .about .risco{
    height: 2px;
    width: 60px;
    background-color: white;
    align-self: center;
    
}

.portfolio, .contactme{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px;
}

.portfolio .risco, .contactme .risco{
    height: 2px;
    width: 60px;
    background-color: #2D3E50;
    align-self: center;
    
}

h2, h4{
    font-size: 2rem;
}

.galeria{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 2rem;
}

.galeria img{
    width: 100%;
    
}
.galeria img:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

.aboutcontent{
    display: grid;
    grid-auto-columns: 45%;
    grid-auto-flow: column;
    justify-content: space-around;
    width: 55%;
    height: auto;    
}

.downloadbtn {
    display: flex;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    align-items: center;
    justify-content: space-around;
    padding: 12px 28px;
    margin-top: 2rem;
  }
  
  .downloadbtn:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

.downloadbtn img{
    width: 20px;
    height: auto;
    margin-right: 1rem;
}

.formcontainer{
    width: 50%;
    height: auto;  
}

label{
    margin-top: 2rem;
    color: #2D3E50;
}

input[type=text] {
    height: 2rem;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid lightgrey;
    margin: 0.5rem 0 0.5rem;
  }

  .tmessage{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid lightgrey;
    resize: none;
    margin: 0.5rem 0 0.5rem;
  }

  input[type=submit] {
    background-color: #D40A46;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  input[type=submit]:hover {
    background-color: #2D3E50;
  }
/* rosa proxima seção #D40A46*/

/* seção digital #2D3E50*/

